@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<title>Ana Sayfa</title>
<div class="container">
    <br /><hr /><br />
    <h2>Gelen Evrak</h2>
    <p>Kuruma elden, kargo, posta, faks, KEP, mail gibi birçok kaynaktan kurum içi ya da dışı, fiziksel ya da elektronik dokümanlar, belgeler gelir. Bu dokümanların yoğunluğu hangi seviyede olursa olsun yönetilmesi gerekir.</p>
    <p>Doküman, sisteme kazandırılırken etiketleme yapılarak barkod numarası, belge tarihi, belge tipi, hangi kurum, kişi ya da tüzel kişilikten geldiği, konusu, hangi departmana geldiği ve belgeyi işleyen personel bilgileri ile saklanmış olur. Gelen evrak kayıt defteri raporlanabilir ve yönetilebilir hale gelmiş olur.</p><br />
    <br /><hr /><br />
    <h2>Giden Evrak</h2>
    <p>Kurumlar iş yapma biçimlerine göre diğer kurumlarla ya da birimler arası iç yazışma ya da dış yazışma yapar. Resmi yazışma usul ve esaslar standardına göre yazışma yapmayı benimsemiş olsun ya da olmasın giden evrak yönetimi yapılır.</p>
    <p>Doküman, sisteme kazandırılırken etiketleme yapılarak barkod numarası, belge tarihi, belge tipi, hangi kurum, kişi ya da tüzel kişilikten geldiği, konusu, hangi departmana geldiği ve belgeyi işleyen personel bilgileri ile saklanmış olur. Giden evrak kayıt defteri raporlanabilir ve yönetilebilir hale gelmiş olur.</p>
</div>