@model EvrakTakipSistemi.Models.ViewModels.UpdatePasswordViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Şifre Güncelle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="text-align:center;">ŞİFRE GÜNCELLE</h4>
                    </div>
                    <div class="modal-body">

                        @if (ViewBag.State == null)
                        {
                            @using (Html.BeginForm())
                            {
                                <label>Yeni Şifre:</label>
                                @Html.TextBoxFor(x => x.Password, new { @placeholder = "Yeni Şifre..", @class = "form-control" })

                                <div class="modal-footer">
                                    <button class="btn btn-success" type="submit">Güncelle</button>
                                    <a href="/user/login" class="btn btn-danger">İptal</a>
                                </div>
                            }
                        }
                        else
                        {
                            if (ViewBag.State)
                            {
                                @:<div class="alert-success">Şifre başarıyla güncellenmiştir.</div><br />
                                <div class="modal-footer">
                                    <a href="/user/login" class="btn btn-primary">Giriş Yap</a>
                                </div>

                            }
                            else
                            {
                                @:<div class="alert-success">Şifre güncelleme başarısız. Beklenmeyen bir hatayla karşılaşıldı. Lütfen daha sonra tekrar deneyin.</div><br />
                                <div class="modal-footer">
                                    <a href="/user/passwordreset" class="btn btn-primary">Yeni Şifre Talep Et</a>
                                    <a href="/user/login" class="btn btn-danger">İptal</a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    $(function () {
        $('#myModal').modal({ backdrop: 'static', keyboard: false, show: true });
    });
</script>